**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/*.user
**/*.tmp
**/node_modules
**/coverage
**/test-results
**/artifacts
**/.github
**/docs
**/infrastructure
Dockerfile*
docker-compose*
README.md
.gitignore
.editorconfig